<%= form_tag :wifis,method: :post do %>
    <p>
    <input placeholder="県名を入力してください" type="text" name="prefecture">
    <input placeholder="緯度を入力してください" type="text" name="latitude">
    <input placeholder="経度を入力してください" type="text" name="longitude">
    <input type="submit" value="SENT">
    </p>
<% end %>



<%= form_tag :wifis, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>


<% if @locations.present? %>
  <% @locations.each do |location| %>
    <p>
      <%= location.name %>
    </p>
    <p>
      <%= location.distance %>
    </p>
    <p>

    </p>
  <% end %>
<% end %>








